:root {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070707;
  color: #fefefe;
  margin: 25px 50px;
}

.album-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

.album {
  margin: 10px;
}

@media (min-width: 667px) {
  .album-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) and (max-width: 1155px) {
  .album-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1156px) {
  .album-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
